.custom-block
  &-title
    margin-bottom -0.4rem !important
p
  display block
  margin-block-start 1em
  margin-block-end 1em
  margin-inline-start 0px
  margin-inline-end 0px
*
  box-sizing border-box
.row
  display flex
  flex-wrap wrap
.arrow
  display block
  width auto
  height auto
.search .search-box
  margin 0
  input
    margin 0
    padding 0
    height auto
    border none
    border-radius 0
    background none
    color #464646
    font-size 17px
    line-height 1.4
    transition none
