// vant dialog
.van-dialog
  max-width 300px
  width 80%
  border-radius 6px
  .van-dialog__content
    flexColAlign()
    min-height 100px
    *
      width 100%
  .van-dialog__footer::after
    border-color rgba(229, 229, 229, 1)
  .van-button
    font-weight bold
  .van-dialog__confirm,;
  .van-dialog__confirm:active
    color $color-main
.van-picker .van-picker__confirm
  color $color-main;
