$--bg-base: #fff; /* 基础背景色 */
$--bg-secondary: #f8f8f8; /* 辅助背景色 */
$--bg-wx: #f3f3f3; /* 辅助背景色 */
$--bg-dark: #c2c2c2; /* 辅助背景色 */
$--bg-black: #212121; /* 辅助背景色 */
$--bg-button: #fafafa; /* 辅助背景色 */
$--bg-button-tap: #f0f0f0; /* 辅助背景色 */

$--mask-base: rgba(0, 0, 0, 0.6); /* 深色遮罩颜色 */
$--mask-inverse: rgba(255, 255, 255, 0.9); /* 白色遮罩颜色 */
$--mask-primary: rgba(7, 93, 105, 0.5); /*primary色上的遮罩颜色*/

$--shadow-base: rgba(0, 0, 0, 0.2); /* 投影颜色 */
$--shadow-base-secondary: rgba(0, 0, 0, 0.06); /* 辅助投影颜色 */

$--color-text-base: #333; /* 基本 */
$--color-text-base-inverse: #fff; /* 基本 - 反色 */
$--color-text-secondary: #a4a9b0; /* 辅助色 */
$--color-text-placeholder: #dddddd; /* 表单提示颜色 */
$--color-text-disabled: #acacac; /* 失效文字颜色 */
$--color-text-caption: #767676; /* 辅助描述 */
$--color-text-paragraph: #767676; /* 正文段落 */
$--color-text-txtNine: #999;
$--color-text-txtSix: #666;
$--color-text-gold: #ac8849;
$--color-text-goldTwo: #c6a76e;
$--color-text-darkGold: #634f1b;

$--line-base: #ddd; /* 基本 */
$--line-inverse: #fff; /* 基本 - 反色 */
$--line-light: #f2f2f2; /* 辅助 */
$--line-dark: #aaa; /* 基本 */
$--line-primary: #ad0e11; /* 与primary合作时的颜色 */
$--line-primary-secondary: #ec380b; /* 与次要的 primary 合作时的颜色 */
$--line-success: #0b920b; /* 与success合作时的颜色 */
$--line-wx: #0b920b; /* 需要使用微信色时用的颜色 */
$--line-warning: #eb3939; /* 与warning合作时的颜色 */
$--line-error: #eb3939; /* 与error合作时的颜色 */

$--mark-one: #ff5252;
$--mark-two: #ff6600;
$--mark-three: #ff9000;
$--mark-four: #ffb400;
$--mark-five: #9872ff;
$--mark-six: #ff4d8a;
$--mark-seven: #00ddce;

$--brand-skin: #0a2d88; /* 主题颜色*/
$--brand-primary: #ad0e11;
$--brand-primary-secondary: #ff4c00;
$--brand-primary-tap: #ff2d57;
$--brand-success: #1aad1a;
$--brand-wx: #1aad1a;
$--brand-wx-link: #576b95;
$--brand-warning: #ff4848;
$--brand-error: #ff4848;
$--brand-important: #ff9800;
$--brand-yellow: #fffcef;
$--brand-red: #c13b38;

$--btn-Three: #333;
